/* fuentes de google */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* 

.container1 span:nth-child(1) {
  color: #11caeb;
}
.container1 span:nth-child(2) {
  color: #000000;
}
.container1 span:nth-child(3) {
  color: #11caeb;
}
.container1 span:nth-child(4) {
  color: #000000;
}
.container1 span:nth-child(5) {
  color: #11caeb;
}
.container1 span:nth-child(6) {
    color: #000000;
}

.container2 span:nth-child(1) {
  color: #000000;
}
.container2 span:nth-child(2) {
  color: #11caeb;
}
.container2 span:nth-child(3) {
  color: #000000;
}
.container2 span:nth-child(4) {
  color: #11caeb;
}
.container2 span:nth-child(5) {
  color: #000000;
}
.container2 span:nth-child(6) {
    color: #11caeb;
}
.container2 span:nth-child(7) {
  color: #000000;
}

.container1 span {
  font-size: 100pt;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 30ms ease-in-out;
}

.container2 span {
  font-size: 100pt;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 30ms ease-in-out;
}

.container1 span::before {
  content: var(--l);
  position: absolute;
  transform: scale(0.5);
  filter: blur(15px);
}

.container2 span::before {
  content: var(--l);
  position: absolute;
  transform: scale(0.5);
  filter: blur(15px);
}

.container1 span::after {
  content: var(--l);
  position: absolute;
  height: 200%;
  width: 300px;
  top: 80%;
  left: 0;
  filter: blur(30px);
  transform: rotateX(50deg);
}

